<!DOCTYPE html>
<html>
<head>
    <title>Editar Tarefa</title>
</head>
<body>
    <h1>Editar {{ tarefa.titulo }}</h1>

    <input id="titulo" placeholder="Título" value="{{ tarefa.titulo }}">
    <select id="prioridade">
        <option value="Alta" {% if tarefa.prioridade == "Alta" %}selected{% endif %}>Alta</option>
        <option value="Média" {% if tarefa.prioridade == "Média" %}selected{% endif %}>Média</option>
        <option value="Baixa" {% if tarefa.prioridade == "Baixa" %}selected{% endif %}>Baixa</option>
    </select>
    <button onclick="guardar({{ tarefa.id }})">Guardar</button>

    <script>
        async function guardar(id) {
            const titulo = document.getElementById("titulo").value;
            const prioridade = document.getElementById("prioridade").value;

            await fetch(`/tarefas/${id}`, {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    id: parseInt(id),
                    titulo,
                    prioridade
                })
            });

            window.location.href = "/";
        }

        carregar();
    </script>
</body>
</html>